<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" color: "blue">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Category' %><br>
    <%= f.text_field :cat_id %>
  </div>
  <div class="field">
    <%= f.label :cohort_id %><br>
    <%= f.number_field :cohort_id %>
  </div>
  <p class="waves-effect waves-light btn">
    <%= f.file_field :avatar %>
  </p>
  <p class="waves-effect waves-light btn red">
    <%= f.submit %>
  </p>
<% end %>
