<p id="notice"><%= notice %></p>

<h2>WYNCODE SCRAPBOOK</h2>

<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
   <a class="btn-floating btn-large lightblue">
     <i class="large material-icons">menu</i>
   </a>
   <ul>
     <li><a href="<%= new_picture_path %>" class="btn-floating red"><i class="material-icons">note_add</i></a></li>
     <li><a href="<%= root_path %>" class="btn-floating lightblue"><i class="material-icons">airplay</i></a></li>
   </ul>
 </div>

 <div class="gallery js-flickity"
  data-flickity-options='{"autoPlay": 1500, "imagesLoaded": true, "percentPosition": false}'>
    <%= image_tag 'GroupPhoto.jpg' %>
    <%= image_tag 'Group Photo 2.jpg' %>
    <% @pictures.each do |picture| %>
    <%= image_tag picture.avatar %>
    <%end%>
</div>

  <section>
    <% @pictures.each do |picture| %>
      <div class="picture">
        <%= image_tag picture.avatar.medium, class: "image" %>
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>option</a>
        <ul id='dropdown1' class='dropdown-content'>
        <li><%= link_to 'Show', picture %></li>
        <li><%= link_to 'Edit', edit_picture_path(picture) %></li>
        <li><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
    <% end %>
  </section>

<br>

<!-- <%= link_to 'New Picture', new_picture_path %> -->
