<p id="notice"><%= notice %></p>

<h2>WYNCODE SCRAPBOOK</h2>

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
   <a class="btn-floating btn-large lightblue">
     <i class="large material-icons">menu</i>
   </a>
   <ul>
     <li><a href="<%= new_picture_path %>" class="btn-floating black"><i class="material-icons">note_add</i></a></li>
     <li><a href="<%= root_path %>" class="btn-floating black"><i class="material-icons">airplay</i></a></li>
   </ul>
 </div>

 <div class="gallery js-flickity"
  data-flickity-options='{"autoPlay": 1500, "imagesLoaded": true, "percentPosition": false, "lazyLoad": 2}'>
  <img src="/assets/Group Photo 2.jpg" alt="crazy group photo" />
  <img src="/assets/GroupPhoto.jpg" alt="crazy group photo" />
  <img src="/assets/thumb_Untitled2.jpg" alt="crazy group photo" />
</div>


<table class="striped">

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= picture.cat_id %></td>
        <td><%= picture.cohort_id %></td>
        <td><%= image_tag picture.avatar.medium %></td>
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>OPTIONS</a>
        <ul id='dropdown1' class='dropdown-content'>
           <li><%= link_to 'Show', picture %></li>
           <li><%= link_to 'Edit', edit_picture_path(picture) %></li>
           <li><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Picture', new_picture_path %> -->
